@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;500&display=swap");
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-family: "Nunito", sans-serif;
}
.center {
	display: flex;
	justify-content: center;
	align-items: center;
}

.main-container {
	width: 100%;
	height: 300px;
	background-color: orange;
}

.circle-container {
	width: 250px;
	height: 250px;
	background-color: white;
	border-radius: 50%;
	position: absolute;
	z-index: 1;
}

.semicircle {
	width: 50%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

.semicircle:nth-child(1){
    background-color: red;
}